version: "3"
services:
  hmpps-electronic-monitoring-data-insights-api:
    build:
      context: .
    networks:
      - hmpps
    container_name: hmpps-electronic-monitoring-data-insights-api
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health/ping"]
    volumes:
      - ~/.aws:/home/appuser/.aws

    environment:
      - SERVER_PORT=8080
      - HMPPS_AUTH_URL=http://hmpps-auth:8080/auth
      - SPRING_PROFILES_ACTIVE=dev
      - DB_HOST=${DB_HOST}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_PORT=${DB_PORT}
      - DB_NAME=${DB_NAME}
      - AWS_PROFILE=modernisation-platform-data-eng-800964199911
      - AWS_REGION=eu-west-2

  hmpps-auth:
    image: ghcr.io/ministryofjustice/hmpps-auth:latest
    networks:
      - hmpps
    container_name: hmpps-auth
    ports:
      - "8090:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/auth/health"]
    environment:
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=dev
      - APPLICATION_AUTHENTICATION_UI_ALLOWLIST=0.0.0.0/0

  postgres:
    image: postgres:18
    container_name: hmpps-postgres
    networks:
      - hmpps
    environment:
      POSTGRES_USER: hmpps
      POSTGRES_PASSWORD: hmpps
      POSTGRES_DB: em_data_insights
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
     
networks:
  hmpps:

volumes:
  postgres_data: