generic-service:
  nameOverride: hmpps-electronic-monitoring-data-insights-api
  productId: "HMPPS547" # productId for the product that this belongs too, i.e. DPS001, see README.md for details

  replicaCount: 4

  image:-
    repository: ghcr.io/ministryofjustice/hmpps-electronic-monitoring-data-insights-api
    tag: app_version # override at deployment time
    port: 8080

  ingress:
    enabled: true
    host: app-hostname.local # override per environment
    tlsSecretName: hmpps-electronic-monitoring-data-insights-ui-cert

  # Environment variables to load into the deployment
  env:
    JAVA_OPTS: "-Xmx512m"
    SERVER_PORT: "8080"
    APPLICATIONINSIGHTS_CONFIGURATION_FILE: applicationinsights.json
    DB_PORT: "5432"   # port is not secret, you can keep this here

  # Pre-existing kubernetes secrets to load as environment variables in the deployment.
  # namespace_secrets:
  #   [name of kubernetes secret]:
  #     [name of environment variable as seen by app]: [key of kubernetes secret to load]

  namespace_secrets:
    hmpps-electronic-monitoring-data-insights-api-application-insights:
      APPLICATIONINSIGHTS_CONNECTION_STRING: "APPLICATIONINSIGHTS_CONNECTION_STRING"
    rds-postgresql-instance-output:
      DB_NAME: "database_name"
      DB_USER: "database_username"
      DB_PASSWORD: "database_password"
      DB_HOST: "rds_instance_address"

  allowlist:
    groups:
      - internal

generic-prometheus-alerts:
  targetApplication: hmpps-electronic-monitoring-data-insights-api
