---
# Per environment values which override defaults in hmpps-electronic-monitoring-data-insights-api/values.yaml

generic-service:
  ingress:
    host: electronic-monitoring-data-insights-api.hmpps.service.justice.gov.uk

  env:
    HMPPS_AUTH_URL: "https://sign-in.hmpps.service.justice.gov.uk/auth"
    ATHENA_OUTPUT_BUCKET: "placeholder"
    MFA_REQUIRED: "false"

generic-prometheus-alerts:
  alertSeverity: hmpps-electronic-monitoring-data-insights-prod
